/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px){
	/**/
	.articles-item{
		width: 30%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.blog .blog-text{
		padding: 20px 70px 90px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	
	.main-header{
		padding: 50px 120px 0 120px;
		.main-header-content{
			margin-top: 200px;
			p{
				padding-left: 300px;
			}
		}
	}

	.features-item{
		margin-bottom: 80px;
	}

	.features .features-item-1::before,
	.features .features-item-2::before,
	.features .features-item-3::before{
		top: -45px;
	}

	.articles-item{
		width: 100%;
		padding-left: 60px;
		padding-right: 60px;
	}

	#btn-1:checked ~ .slider-inner .slider-slides { 
    transform: translate(0);
  }
  #btn-2:checked ~ .slider-inner .slider-slides { 
  	transform: translate(-600px);
  }
  #btn-3:checked ~ .slider-inner .slider-slides { 
    transform: translate(-1000px);
  }
  .portfolio{
  	padding-right: 200px;
  }
  #portfolio-btn-2:checked ~ .portfolio-slider-inner .portfolio-slider-slides { 
  	transform: translate(-600px);
  }
  #portfolio-btn-3:checked ~ .portfolio-slider-inner .portfolio-slider-slides { 
  	transform: translate(-1000px);
  }
  #portfolio-btn-4:checked ~ .portfolio-slider-inner .portfolio-slider-slides { 
  	transform: translate(-1400px);
  }
  .team{
  	padding: 50px 100px 54px;
  	>p{
  		padding: 0;
  	}
  	.container-fluid{
			.row{
				.col-md-3{
					img{
						margin-bottom: 20px;
					}
				}
			}
		}
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	
	/*Disable Animation on Mobile Devices*/
	
	.top-menu{
		.top-menu-toggle-wrap{
			display: block;
		}
		.top-menu-logo{
			position: absolute;
			left: 35%;
			top: 6%;
		}
	}

	.top-menu-main{
		background-color: #000;
		opacity: 0.8;
		display: none;
		margin-top: 10px;
		min-width: 295px;
		position: absolute;
		right: 15px;
		text-align: center;
		top: 75px;
		z-index: 2;
		ul{
			li{
				display: block;
				line-height: 0;
				padding: 0;
				margin-right: 0;
				a{
					display: block;
					line-height: 48px;
					padding: 0 20px;
					transition: all 0.5s ease;
					font-size: em(18px);
					color: #fff;
					&:hover{
						background-color: #6e6969;
					}
				}
			}
		}
	}
	.main-header{
		.main-header-content{
			h1{
				&:after{
					top:20%;
				}
			}
			p{
				padding-left: 150px;
			}
		}
	}

	#btn-1:checked ~ .slider-inner .slider-slides { 
    transform: translate(0);
  }
  #btn-2:checked ~ .slider-inner .slider-slides { 
  	transform: translate(-800px);
  }
  #btn-3:checked ~ .slider-inner .slider-slides { 
    transform: translate(-1200px);
  }

  .portfolio{
  	display: none;
  }
  .blog{
  	padding: 107px 100px 94px;
  }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	
	.main-header{
		padding: 50px 20px 0 20px;
		
		.main-header-content{
			margin-top: 150px;

			h1{
				font-size: 3.5rem;

				&:after{
					top:18%;
				}
			}

			p{
				padding-left: 50px;
			}
		}
	}

	.about{
		padding: 100px 20px;
	}

	.features{

		padding: 70px 20px;

		}

	.articles{
		padding: 70px 20px;
	}	
	.clients{
		padding: 45px 0px 100px;
	}

	.slider-slides{
		img{
			margin-right: 20px;
		}
	}
	.quote{
		padding: 74px 20px 68px;
	}
	.team{
  	padding: 50px 20px 54px;
  }
  .facts{
  	padding: 103px 20px 140px;
  }
   .blog{
  	padding: 107px 20px 94px;
  	.blog-text{
  		padding: 50px 0px 30px;
  	}
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}

